*{
    font-size: large;
}

h1{
    font-size: larger;
    margin: 0;
    padding: 0;
    border: 0;
    color:rgba(18, 166, 30, 0.983);
    background-color: black;
}

fieldset{
    width : 50%;
}

header{
    margin: 0;
    padding: 0;
    border: 0;
}

table, th, td {
    border: 1px solid black;
  }