*{
    font-size: large;
}

h1{
    font-size: x-large;
    padding: 10px;
    color:rgba(18, 166, 30, 0.983);
    background-color: black;
    font-family: sans-serif;
}

fieldset{
    width : 50%;
}

nav{
    border: 1px solid black;
    padding: 10px;
    background-color: darkgray;
}

table, th, td {
    border: 1px solid black;
  }