<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Games</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Games Page</h1>
        <!--Navigation bar-->
        <nav>
            <ul>
              <li><a href = "/">Home</a></li>
              <li><a href = "games">Games</a></li>
              <li><a href = "developers">Developers</a></li>
              <li><a href = "reviewers">Reviewers</a></li>
              <li><a href = "reviews">Reviews</a></li>
              <li><a href = "genres">Genres</a></li>
              <li><a href = "gameGenres">GameGenreRelationships</a></li>
              <li><a href = "about">About</a></li>
            </ul>
          </nav>
    </header>
    
    <!-- Citation for the following:
        Date: 05/04/2022
        Adapted from:
        Source URL: https://replit.com/@coecs290/m351#index.html
        Body consists of a form, fieldset.
    -->
    <!-- Form to get new data entry-->
    <form>
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Add New Entry:</legend>
            <label for="gameName">Game Name:</label>
                <input type="text" name="game_name" size="30" maxlength="100" required="required">
            <br />
            <label for="developerName">Developer:</label>
            <select name="developer" id="developerName">
                {% for item in developers %}
                <option value={{item.developer_id}}>{{item.developer_name}}</option>
                {% endfor %}
            </select>
            <br />
            <label for="releaseDate">Release Date:</label>
                <input type="date" name="release_date" size="30" maxlength="100" required = "required">
            <br />
            <br />
            <button type="submit">Submit Game</button>
        </fieldset>
        <br />
        <!-- We can use the button element or the input element to display the button -->
        <!--input type="submit" value="Submit review" /-->
    </form>

    <!-- Citation for the following:
    Date: 05/04/2022
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
    Creates table for information
    -->
    <!--Table with database information-->
    <div class = "infoTable">
        <table>
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Developer ID</th>
                    <th>Game Name</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in games %}
                <tr>
                    <td>{{item['game_id']}}</td>
                    <td>{{item['Developers_developer_id']}}</td>
                    <td>{{item['game_name']}}</td>
                    <td>{{item['release_date']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    
</html>