<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Games</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <h1>Games Page</h1>
    <nav>
        <a href = "/">Home</a> |
        <a href = "games">Games</a> |
        <a href = "reviewers">Reviewers</a> |
        <a href = "reviews">Reviews</a> |
        <a href = "genres">Genres</a> |
        <a href = "gameGenres">GameGenreRelationships</a>
    </nav>
</header>
<body>
    <div class = "infoTable">
        <table>
            <thead>
            <tr>
                <th>Game ID</th>
                <th>Developer ID</th>
                <th>Game Name</th>
                <th>Release Date</th>
            </tr>
            <tbody>
            {% for item in games %}
            <tr>
                <td>{{item['game_id']}}</td>
                <td>{{item['Developers_developer_id']}}</td>
                <td>{{item['game_name']}}</td>
                <td>{{item['release_date']}}</td>
            </tr>
            {% endfor %}
            </table>
        </table>
    </div>
    <form>
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Add New Entry:</legend>
            <label for="gameName">Game Name:</label>
                <input type="text" name="name" size="30" maxlength="100" required="required">
            <br />
            <label for="developerName">Developer:</label>
                <input type ="text" name="" size="30" maxlength="100" required ='required'>
            <br />
            <label for="releaseDate">Release Date:</label>
                <input type="date" name="date" size="30" maxlength="100" required = "required">
            <br />
            <br />
            <button type="submit">Submit Game</button>
        </fieldset>
        <br />
        <!-- We can use the button element or the input element to display the button -->
        <!--input type="submit" value="Submit review" /-->
    </form>
</body>
    
</html>