<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>TeamDB - GameGenres</title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>gameGenres</h1>
    <nav>
      <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "games">Games</a></li>
        <li><a href = "developers">Developers</a></li>
        <li><a href = "reviewers">Reviewers</a></li>
        <li><a href = "reviews">Reviews</a></li>
        <li><a href = "genres">Genres</a></li>
        <li><a href = "gameGenres">GameGenreRelationships</a></li>
        <li><a href = "about">About</a></li>
      </ul>
    </nav>
  </header>

  <!-- Citation for the following:
  Date: 05/04/2022
  Adapted from:
  Source URL: https://replit.com/@coecs290/m351
  Dropdown menus adapted from this code
  -->
  <form method = "post">
    <fieldset>
      <legend>Add a genre to a game</legend>
        <label for="GameName">Select game:</label>
        <select name="game_id" id="GameName">
          {% for item in games %}
          <option value={{item.game_id}}>{{item.game_name}}</option>
          {% endfor %}
        </select>
        <br><br>

        <label for="GenreName">Add Genre to Game:</label>
        <select name="genre_id" id="GenreName">
          {% for item in genres %}
          <option value={{item.genre_id}}>{{item.game_genre}}</option>
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
  </form>

  <!-- Citation for the following:
  Date: 05/04/2022
  Adapted from:
  Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
  Creates table for information
  -->
  <table>
      <thead>
        <tr>
          <th>Game Name</th>
          <th>Genre</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for item in gameGenres %}
        <tr>
          <td>{{item['game_name']}}</td>
          <td>{{item['game_genre']}}</td>
          <td><a href = "delete/genre/{{item['game_id']}}/{{item['genre_id']}}" onClick = "return confirm ('Are you sure?')">delete</a> </td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</body>

</html>
