<!DOCTYPE html>
<h1>Games Page</h1>
<table>
    <thead>
    <tr>
        <th>Game ID</th>
        <th>Developer ID</th>
        <th>Game Name</th>
        <th>Release Date</th>
    </tr>
    <tbody>
    {% for item in games %}
    <tr>
        <td>{{item['game_id']}}</td>
        <td>{{item['Developers_developer_id']}}</td>
        <td>{{item['game_name']}}</td>
        <td>{{item['release_date']}}</td>
    </tr>
    {% endfor %}
    </table>

     <head>
        <meta charset="utf-8">
        <title>Module 3: Form</title>
    </head>
</table>
    <body>
        <form>
            <!-- The fieldset element is used to group several controls and labels within a web form.-->
            <fieldset>
                <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
                <legend>Add New Entry:</legend>
                <label>Game Name:
                    <input type="text" name="name" size="30" maxlength="100" required="required">
                </label>
                <br />
                <label>Developer:
                    <input type ="text" name="" size="30" maxlength="100" required ='required'>
                </label>
                <br />
                <label>Release Date:
                    <input type="date" name="date" size="30" maxlength="100" required = "required">
                </label>
                <br />
            </fieldset>
            <br />
            <!-- We can use the button element or the input element to display the button -->
            <!--input type="submit" value="Submit review" /-->
            <button type="submit">Submit Game</button>
        </form>
        <a href = "/">Home</a>
    </body>
    
    </html>