<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>TeamDB - GameGenres</title>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<header>
  <h1>gameGenres</h1>
  <nav>
    <ul>
      <li><a href = "/">Home</a></li>
      <li><a href = "games">Games</a></li>
      <li><a href = "developers">Developers</a></li>
      <li><a href = "reviewers">Reviewers</a></li>
      <li><a href = "reviews">Reviews</a></li>
      <li><a href = "genres">Genres</a></li>
      <li><a href = "gameGenres">GameGenreRelationships</a></li>
      <li><a href = "about">About</a></li>
    </ul>
  </nav>
</header>

  <form action>
    <fieldset>
        <label for="GameName">Select game:</label>
        <select name="GameName" id="GameName">
          {% for item in games %}
          <option value={{item.game_id}}>{{item.game_name}}</option>
          {% endfor %}
        </select>
        <br><br>

        <label for="GenreName">Remove Genre from Game:</label>
        <select name="GenreName" id="GenreName">
          {% for item in genres %}
          <option value={{item.genre_id}}>{{item.game_genre}}</option>
          {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
  </form>

  <table>
      <thead>
        <tr>
          <th>Game ID</th>
          <th>Genre ID</th>
        </tr>
      </thead>
      <tbody>
      {% for item in gameGenres %}
        <tr>
          <td>{{item['Games_game_id']}}</td>
          <td>{{item['Genres_genres_id']}}</td>
        </tr>
      {% endfor %}
      </tbody> 
  </table>
</body>

</html>
