<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Genres</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Genres Page</h1>
        <nav>
            <ul>
              <li><a href = "/">Home</a></li>
              <li><a href = "games">Games</a></li>
              <li><a href = "developers">Developers</a></li>
              <li><a href = "reviewers">Reviewers</a></li>
              <li><a href = "reviews">Reviews</a></li>
              <li><a href = "genres">Genres</a></li>
              <li><a href = "gameGenres">GameGenreRelationships</a></li>
              <li><a href = "about">About</a></li>
            </ul>
          </nav>
    </header>
    <form>
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Add Genre:</legend>
                <label>Genre:
                    <input type="text" name="game_genre" size="30" maxlength="100" required="required">
                </label>
                <br /><br>
                <button type="submit">Submit New Genre</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>Genre id</th>
                <th>Game Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for item in genres %}
            <tr>
                <td>{{item['genre_id']}}</td>
                <td>{{item['game_genre']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
