<!DOCTYPE html>
<h1>Genres page</h1>
<table>
    <thead>
    <tr>
        <th>Genre id</th>
        <th>Game Genre</th>
    </tr>
    <tbody>
    {% for item in genres %}
    <tr>
        <td>{{item['genre_id']}}</td>
        <td>{{item['game_genre']}}</td>
    </tr>
    {% endfor %}
    </table>

    <!DOCTYPE html>
<h1>Developers Page</h1>
<table>
    <thead>
    <tr>
        <th>Developer ID</th>
        <th>Developer Name</th>

    </tr>
    <tbody>
    {% for item in developers %}
    <tr>
        <td>{{item['developer_id']}}</td>
        <td>{{item['developer_name']}}</td>
    </tr>
    {% endfor %}
    </table>

    <head>
        <meta charset="utf-8">
        <title>Genres</title>
    </head>
    
    <body>
        <form action="http://localhost:3000/review" method="GET">
            <!-- The fieldset element is used to group several controls and labels within a web form.-->
            <fieldset>
                <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
                <legend>Add Genre:</legend>
                <label>Genre:
                    <input type="text" name="name" size="30" maxlength="100" required="required">
                </label>
                <br />
            </fieldset>
            
            <!-- We can use the button element or the input element to display the button -->
            <!--input type="submit" value="Submit review" /-->
            <button type="submit">Submit New Genre</button>
        </form>
        <a href = "/">Home</a>
    </body>
    
    </html>
