<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Genres</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<header>
    <h1>Genres Page</h1>
    <nav>
        <a href = "/">Home</a> |
        <a href = "games">Games</a> |
        <a href = "developers">Developers</a> |
        <a href = "reviewers">Reviewers</a> |
        <a href = "reviews">Reviews</a> |
        <a href = "genres">Genres</a> |
        <a href = "gameGenres">GameGenreRelationships</a>
    </nav>
</header>

<body>
    <table>
        <thead>
            <tr>
                <th>Genre id</th>
                <th>Game Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for item in genres %}
            <tr>
                <td>{{item['genre_id']}}</td>
                <td>{{item['game_genre']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="http://localhost:3000/review" method="GET">
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Add Genre:</legend>
            <label>Genre:
                <input type="text" name="game_genre" size="30" maxlength="100" required="required">
            </label>
            <br />
        </fieldset>
        
        <!-- We can use the button element or the input element to display the button -->
        <!--input type="submit" value="Submit review" /-->
        <button type="submit">Submit New Genre</button>
    </form>
</body>
    
</html>
