<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Reviewers</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Reviewers Page</h1>
        <nav>
            <ul>
              <li><a href = "/">Home</a></li>
              <li><a href = "games">Games</a></li>
              <li><a href = "developers">Developers</a></li>
              <li><a href = "reviewers">Reviewers</a></li>
              <li><a href = "reviews">Reviews</a></li>
              <li><a href = "genres">Genres</a></li>
              <li><a href = "gameGenres">GameGenreRelationships</a></li>
              <li><a href = "about">About</a></li>
            </ul>
          </nav>
    </header>
    <!-- Citation for the following:
    Date: 05/04/2022
    Adapted from:
    Source URL: https://replit.com/@coecs290/m351#index.html
    Body consists of a form, fieldset.
    -->
    <form>
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Reviewers:</legend>
            <label>Add Reviewer:
                <input type="text" name="name" size="30" maxlength="100" required="required">
            </label>
            <br />
        <!-- We can use the button element or the input element to display the button -->
        <!--input type="submit" value="Submit review" /-->
        <button type="submit">Add a new Reviewer</button>
        </fieldset>
    </form>

    <!-- Citation for the following:
    Date: 05/04/2022
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
    Creates table for information
    -->
    <table>
        <thead>
            <tr>
                <th>Reviewer ID</th>
                <th>Reviewer Name</th>
                <th>Number of Reviews</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reviewers %}
            <tr>
                <td>{{item['reviewer_id']}}</td>
                <td>{{item['reviewer_name']}}</td>
                <td>{{item['number_of_review']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
    
</html>
