<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TeamDB - Reviews</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Reviews Page</h1>
        <nav>
            <ul>
              <li><a href = "/">Home</a></li>
              <li><a href = "games">Games</a></li>
              <li><a href = "developers">Developers</a></li>
              <li><a href = "reviewers">Reviewers</a></li>
              <li><a href = "reviews">Reviews</a></li>
              <li><a href = "genres">Genres</a></li>
              <li><a href = "gameGenres">GameGenreRelationships</a></li>
              <li><a href = "about">About</a></li>
            </ul>
          </nav>
    </header>    
    <!-- Citation for the following:
    Date: 05/04/2022
    Adapted from:
    Source URL: https://replit.com/@coecs290/m351#index.html
    Body consists of a form, fieldset.
    -->
    <!--Creates Table for values-->
    <form method = "post">
        <!-- The fieldset element is used to group several controls and labels within a web form.-->
        <fieldset>
            <!-- The legend element is used to add a caption for the content of its parent fieldset.-->
            <legend>Add New Entry:</legend>
            <label>Game:
                <select name = "gameID">
                    {% for item in games %}
                    <option value = {{item.game_id}}>{{item.game_name}}</option>
                    {% endfor %}
                </select>
            </label>
            <br />
            <label>Reviewer:
                <select name = "reviewerID">
                    {% for item in reviewers %}
                    <option value = {{item.reviewer_id}}>{{item.reviewer_name}}</option>
                    {% endfor %}
                </select>
            </label>
            <br />
            <label>Write your thoughts:
                <textarea name="review_content" maxlength="500" required = "required"></textarea>
            </label>
            <br />
            <label>Review date:
                <input type="date" name="review_date" size="30" maxlength="100" required = "required">
            </label>
            <br />
            <label>Out of 10?:
                <select name = "rating">
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                    <option value = "6">6</option>
                    <option value = "7">7</option>
                    <option value = "8">8</option>
                    <option value = "9">9</option>
                    <option value = "10">10</option>
                </select>
            </label>
            <br><br>
            <input type="submit" value = "Submit Review" name = "add_review" class ="btn btn-primary"></button>
        </fieldset>
        <br />
        <!-- We can use the button element or the input element to display the button -->
        <!--input type="submit" value="Submit review" /-->
    </form>
    <form id ="filter" method = "post">
        <fieldset>
            <legend>Filter Reviews by Game Genre</legend>
            <select name = "genre">
                {% for item in genres %}
                <option value = {{item.genre_id}}>{{item.game_genre}}</option>
                {% endfor %}
            </select>
            <input type="submit" value = "Filter" name = "apply_filter">
            <input type="submit" value = "Clear Filter" name = "clear_filter">
        </fieldset>
    </form>
    <!-- Citation for the following:
    Date: 05/04/2022
    Adapted from:
    Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
    Creates table for information
    -->
    <table>
        <thead>
            <tr>
                <th>Review ID</th>
                <th>Game Name</th>
                <th>Reviewer Name</th>
                <th>Date Review Published</th>
                <th>Rating</th>
                <th>Review Content</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in reviews %}
            <tr>
                <td>{{item['review_id']}}</td>
                <td>{{item['game_name']}}</td>
                <td>{{item['reviewer_name']}}</td>
                <td>{{item['review_date']}}</td>
                <td>{{item['rating']}}</td>
                <td>{{item['review_content']}}</td>
                <td><a href = "editrev/{{item['review_id']}}">edit
                <td><a href = "delete/review/{{item['review_id']}}/{{item['reviewer_id']}}" onClick = "return confirm ('Are you sure?')">delete</a>    
                </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
